  /* botton outline */

 
  /* Button styles */
  .button-outline {
    display: inline-block;
    padding: 1rem 1.75rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid 1px white;
  }
  
  .button-outline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Use the CSS variable */
    border-radius: 10rem;
    z-index: -2;
  }
  
  .button-outline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.5); /* darken(#0cf, 15%) */
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  .button-outline:hover {
    color: #fff;
  }
  
  .button-outline:hover::before {
    width: 100%;
  }